* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    padding: 20px 0;
}
.header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero {
    background: url(./images/Bitmap.jpg) center/cover;
    height: 700px;
}
.hero__info {
    text-align: center;
    padding: 200px 0 0 0;
}

.logo {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.header__btns button {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 90px;
    height: 36px;
    background: transparent;
}
.header__btns-two {
    border-radius: 40px;
    border: 2px solid black;
}
.header__btns-one {
    border: none;
}
.hero__info {
    color: #fff;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.097);
}
.p {
    color: #5c5857;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 10.5px;
}
.hero button {
    width: 250px;
    height: 40px;
    color: red;
}
